body{
    background-image: url('../images/blue1.jpeg');  /*  .. means static folder and then css folder  */
    margin: 0 0 80px 80px;
}
.heading{ 
    color: white;
    background-color: navy;
    width: 100%;
}

.heading h1{
    padding: 10px;
}

.que{
    background-color: white;
    border-style: solid;
    border-color: navy;
    width: 60%;
    padding: 20px;
}
.options{
    font-size: 30px;
}